<%= render "layouts/customer_header" %>

<div class="container">
  <div class="row offset-4 mt-5">
    <p><b style="height:30px" >本当に退会しますか？</b></p>
  </div>

  <div class="row offset-3 text-center mt-3">
    <p>退会すると、会員登録情報や</br>
    これまでの購⼊履歴が閲覧できなくなります。</br>
    退会する場合は、「退会する」をクリックしてください。
  </div>

  <%= form_with model: @customer, url: customers_withdraw_path(@customer.id), local:true do |f| %>
  <div class="row mt-4">
    <div class="offset-4 col-2 "><%= link_to "退会しない", customers_my_page_path, class: "btn btn-primary" %></div>
    <%= f.hidden_field :is_active, :value => "withdrawn" %>
    <%= f.submit "退会する", :class=>"btn btn-sm text-white btn-danger py-0 offset-" %>
  </div>
  <% end %>
</div>

