<div class="container">
  <div class="row offset-1">
    <div class="mt-3 bg-light"><h5>配送先編集</h5></div>
  </div>
  
  <%= form_with model: @address, url: address_path(@address.id), local:true do |f| %>
  <div class="row mt-3">
    <div class="col-3"><p>郵便番号(ハイフンなし)</p></div>
    <div class="col-3"><%= f.text_field :postal_code %></div>
  </div>

  <div class="row mt-3">
    <div class="col-3"><p>住所</p></div>
    <div class="col-3"><%= f.text_field :address %></div>
  </div>

  <div class="row mt-3">
    <div class="col-3"><p>宛名</p></div>
    <div class="col-3"><%= f.text_field :name %></div>
    <div class="btn btn-sm btn-wrape btn-success mt- py-0">
      <%= f.submit "変更内容を保存", :class=>"btn text-white" %>
    </div>
  </div>
  <% end %>