<div class="container">
  <div class="row mt-5">
    <div class="mt-3 bg-light"><h5>ショッピングカート</h5></div>
    <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "mt-3 offset-8 btn btn-wrape btn-danger"%>
  </div>

  <table class="table mt-3">
    <thead class="thead-light">
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= attachment_image_tag cart_item.item, :image, :fill, 60, 60, size: "60x60" %><%= cart_item.item.name %></td>
        <td><%= addTax(cart_item.item.price) %></td>
        <%= form_with model: cart_item, url: cart_item_path(cart_item.id), local:true  do |f| %>
        <td><%= f.select :amount,[["1"], ["2"], ["3"], ["4"], ["5"], ["6"], ["7"], ["8"], ["9"]], selected: cart_item.amount %>
        <div class="btn btn-wrape btn-success p-0" ><%= f.submit "変更", :class=>"btn text-white" %></div>
        </td>
        <% end %>
        <td><%= addTax(cart_item.item.price) * cart_item.amount %></td>
        <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-wrape btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

