<div class="container">
  <div class="row offset-1">
    <div class="mt-3 bg-light"><h5>注文情報確認</h5></div>
  </div>

  <table>
    <tr>
      <td>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>

          <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= attachment_image_tag cart_item.item, :image, :fill, 60, 60, size: "60x60" %>  <%= cart_item.item.name %></td>
              <td><%= addTax(cart_item.item.price) %></td>
              <td><%= cart_item.amount %></td>
              <td><% @sum = @sum + addTax(cart_item.item.price) * cart_item.amount %><%= addTax(cart_item.item.price) * cart_item.amount %></td>
            <% end %>
            </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="table offset-1">
          <tr>
            <th class="bg-light">送料</th>
            <td><%= @order.shipping_fee %></td>
          </tr>
          <tr>
            <th class="bg-light">商品合計</th>
            <td><%= @sum %></td>
          </tr>
          <tr>
            <th class="bg-light">請求金額</th>
            <td><%= @order.shipping_fee + @sum %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <div class="row mt-2">
    <h6><b>支払方法</b></h6>
    <%= @order.payment_method_i18n %>
  </div>

  <div class="row mt-2">
    <h6><b>お届け先</b></h6>
    <%= @order.postal_code %> <%= @order.address%> </br>
    <%= @order.name%>
  </div>
  
  <%= form_with model: @order, url: orders_path, local:true do |f| %>
  <div class="row offset-4">
    <div class="btn btn-sm btn-wrape btn-success">
      <%= f.submit "注文を確定する", :class=>"btn text-white" %>
    </div>
  </div>
  <% end %>